@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

* {
  font-family: "Onest", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --beige: #b4ab9a;
  --grey: #59585558;
  --dark: #0d0d0df3;
  --white: #FFFFFF;
}

body{
  background-color: var(--dark);
}

header{
  width: 100%;
  padding: 30px 8%;
}

.navbar{
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px;
}

#nav-logo{
  color: var(--white);
  font-size: 40px;
  padding-right: 10px;
}

.navbar > span{
  color: var(--white);
  font-size: 30px;
  font-weight: 400;
  margin-right: 40px;
  margin-left: 40px;
}

.nav-list{
  display: flex;
  list-style: none;
  gap: 150px;
  margin: 0;
  padding: 0;
  margin-left: 200px;
  font-size: 17px;
}

.nav-list a{
  color: var(--white);
  text-decoration: none;

}
.nav-list a:hover{
  color: var(--beige);
  border-bottom: 3px solid var(--grey);
}

.icons{
  display: none;
}